.body-login {
  
  background-size: 45rem;

  background-attachment: fixed;
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
}

.container-login {
  width: 100%;
  height: 100%;
  display: grid;
}

.row {
  width: 100%;
  display: inline-flex;
}

.col-12 {
  width: 100%;
}

.col-3 {
  width: 25%;
}

.login_box {
  border-radius: 15px;
  width: 400px;
  height: 620px;
  margin: 0 auto;
  background-color: rgb(36, 38, 41, .8);
  -webkit-box-shadow: 0px -10px 56px -6px #0f1011;
  -moz-box-shadow: 0px -10px 56px -6px #0f1011;
  box-shadow: 0px -10px 56px -6px #0f1011;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.header-logo-login {
  text-align: center;
  padding-top: 0px;
  margin: 30px 0px 20px;
  border-radius: 15px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  display: flex;
  justify-content: center;
  background-color: #dab95f;
}

.img-logo-login {
  width: 120px;
  height: 120px;
}

@media screen and (max-width: 600px) {
  .login_box {
    width: 320px;
    height: 600px;
  }

  .form-btn-login .btn-login span {
    font-size: 15px;
    color: #242629;
  }

  .sign-up {
    font-size: 10px;
    display: inline;
  }
}

@media screen and (max-width: 400px) {
  .login_box {
    width: 320px;
    height: 600px;
  }
}

@media screen and (max-width: 300px) {
  .login_box {
    width: 240px;
    height: 600px;
  }
}

.password_recovery {
  margin-top: 0.5rem;
  text-align: center;
  margin-left: 50%;
  
}


.login_header h1 {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  margin: 0;
  font-weight: 900;
  color: #f1f1f1;
  font-size: 40px;
  height: 20%;
}

.login_box .form_login {
  padding: 0px 15px 0px;
  height: 60%;
  
  /* background-color: #7e7c78; */
}

.login_box .form_login .inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  text-align: center;
  margin-left: -15px;
}

.form_login button {
  justify-content: center;
  margin: 10px;
}

.form-btn-login {
  display: flex;

  align-items: center;
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 50%;
  background-color: #584b26;
  margin-top: 2vh;
  margin: 2vh auto;
}

.icon-login {
  width: 100%;
  height: 100%;
  /* background-color: aqua; */
}
.form-btn-login .btn-login {
  background-color: Transparent;
  width: 100%;
  height: 100%;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

.form-btn-login:hover {
  transition: all 0.3s;
  background-color: var(--primary-color);
}

.form-btn-login:hover .btn-login .icon-login {
  transition: all 0.3s;

  color: var(--secondary-color);
  width: 100%;
}

.form-btn-login .btn-login .icon-login {
  color: #ffe9ac;
}


