html {
  width: 100%;
  height: 100%;
}

body {
  background-image: linear-gradient(
      to bottom,
      rgba(36, 38, 41, 0.9) 85%,
      rgb(206, 180, 107, 0.8) 105%
    ),
    url("../../assets/images/fundoGeral.jpg");
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
}

.container {
  width: 100%;
  height: 100%;
  display: grid;
}

.row {
  width: 100%;
  display: inline-flex;
}

.col-12 {
  width: 100%;
}

.col-3 {
  width: 25%;
}

.login_box {
  border-radius: 15px;
  width: 420px;
  height: 600px;
  margin: 0 auto;
  background-color: #242629;
  -webkit-box-shadow: 3px -10px 56px -6px rgba(2, 66, 98, 0.55);
  -moz-box-shadow: 3px -10px 56px -6px rgba(2, 66, 98, 0.55);
  box-shadow: 3px -10px 56px -6px rgba(2, 66, 98, 0.55);
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.header-logo {
  text-align: center;
  padding-top: 20px;
  margin: 30px 0px 0px;
}

.img-logo {
  width: 120px;
  height: 120px;
}

@media screen and (max-width: 1800px) {
  .login_box {
    border-radius: 15px;
    width: 400px;
    height: 600px;
    margin: 0 auto;
  }

  .form-btn-login .btn-login span {
    font-size: 15px;
    color: #242629;
  }

  .material-symbols-outlined {
    font-variation-settings: "FILL" 1, "wght" 300, "GRAD" 0, "opsz" 48;
  }
}

@media screen and (max-width: 600px) {
  .login_box {
    width: 320px;
    height: 600px;
  }

  .form-btn-login .btn-login span {
    font-size: 15px;
    color: #242629;
  }

  .sign-up {
    font-size: 10px;
    display: inline;
  }
}

@media screen and (max-width: 400px) {
  .login_box {
    width: 320px;
    height: 600px;
  }
}

@media screen and (max-width: 300px) {
  .login_box {
    width: 240px;
    height: 600px;
  }
}

.password_recovery {
  text-align: center;
}

.password_recovery a {
  text-decoration: none;
  font-style: italic;

  color: #ffe9ac;
}

.password_recovery a:hover {
  transition: all 0.3s;

  color: #ffd86d;
}

.login_header h1 {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  margin: 0;

  color: #f1f1f1;
  font-size: 35px;
  height: 20%;
}

.login_box .form_login {
  padding: 0px 40px 0px;
  height: 40%;
}

.form_login .email-input-form .email_input {
  width: 90%;
  height: 5vh;
  margin: 5px 10px 10px;
  border-radius: 30px;
  display: block;
  padding-left: 20px;
  background-color: #363636;
  color: #f1f1f1;
  border: 1px solid #ffd86d;
}

.form_login .email-input-form {
  margin-bottom: 35px;

  color: #f1f1f1;
}

.form_login .password-input-form .password_input {
  width: 50%;
  height: 5vh;
  margin: 10px;
  border-radius: 30px;
  display: block;
  margin-top: 5px;
  text-align: left;
  padding-left: 20px;
  background-color: #363636;
  color: #f1f1f1;
  border: 1px solid #ffd86d;
}

.form_login .password-input-form {
  margin-bottom: 20px;

  color: #f1f1f1;
}

.form_login button {
  justify-content: center;
  margin: 10px;
}

.material-symbols-outlined {
  width: 100%;
  height: 100%;
}

.form-btn-login {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
}

.form-btn-login .btn-login {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

.form-btn-login .btn-login span {
  font-size: 54px;
  color: #ffd86d;
}

.form-btn-login .btn-login span:hover {
  transition: all 0.3s;
  color: #ffe9ac;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 1, "wght" 300, "GRAD" 0, "opsz" 48;
}

.material-symbols-outlined:hover {
  font-variation-settings: "FILL" 1, "wght" 600, "GRAD" 0, "opsz" 48;
}

.sign-up span {
  color: #f1f1f1;

  font-size: 15px;
  font-style: italic;
}

.sign-up span a {
  color: #ffe9ac;
  text-decoration: none;
}

.sign-up span a:hover {
  transition: all 0.3s;
  font-size: 1rem;
  color: #ffd86d;
}
