.user-bar {
  background-color: var(--secondary-color);
  color: var(--secondary-color);
  height: 5vh;
  display: flex;

  color: var(--tertiary-color);
  justify-content: center;
}

.user-bar .user-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: 100%;
  font-size: 1.1rem;
}

.user-bar .user-wrapper .circle-user {
  background-color: var(--tertiary-color);
  color: var(--tertiary-color);
  display: inline-block;
  border-radius: 50%;
  height: 35px;
  width: 35px;
 
}

.user-bar .user-wrapper .circle-user:hover {
  transition: all 0.3s;
  background-color: var(--primary-color);
}

.user-bar .user-wrapper .nickname {
  
  font-weight: 700;
  display: flex;
  align-items: center;
  font-size: 0.8rem;
 
}

.user-bar .settings {
  font-size: 1rem;
  cursor: pointer;
  height: 2rem;
  width: 2rem;
  text-align: center;
 
  display: flex;
  align-items: center;
  justify-content: center;

}

.user-bar .settings:hover {
  transition: all 0.3s;
  font-size: 1.2rem;
  color: var(--primary-color);
}

.user-bar .circle-user img {
  cursor: pointer;
  height:100%;
  width: 100%;
  border: solid 1px var(--tertiary-color);
  margin: 0 auto;
  border-radius: 50%;
}

.user-bar .circle-user img:hover {
  transition: all 0.3s;
  opacity: 0.5;
}
