.user-bar {
  color: var(--secondary-color);
  height: 100%;
  display: flex;
  flex-direction: column;
  transition: all ease-in-out 0.3s;

  color: var(--tertiary-color);
  justify-content: center;
  width: 100%;
  cursor: pointer;
  position: relative;
  margin: 0 auto;
  border-radius: 5px;
}

.user-bar:hover {
  transition: all 0.3s;
    background-color: #1c1e20;
}

.user-bar:hover .dropbox {
  display: flex;
}

.user-bar .dropbox {
  position: absolute;
  top: 100%;
  left: 0%;

  -webkit-box-shadow: 0px -10px 56px -6px #0f1011;
  -moz-box-shadow: 0px -10px 56px -6px #0f1011;
  box-shadow: 0px -10px 56px -6px #0f1011;
  background-color: var(--secondary-color);
  list-style: none;
  display: none;
  flex-direction: column;
  height: auto;
  width: 100%;
}

.user-bar .dropbox li {
  height: 3rem;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-size: 1rem;
}

.user-bar .dropbox li:hover {
  transition: all 0.3s;
   background-color: #1c1e20;
  color: #ffd86d;
}

.user-bar .user-wrapper {
  display: flex;
  /* background-color: aqua; */
  align-items: center;
  justify-content: center;
  gap: 5px;

  font-size: 1.1rem;
  /* background-color: brown; */
}

.user-bar .user-wrapper .circle-user {
  background-color: var(--tertiary-color);
  color: var(--tertiary-color);
  display: inline-block;
  border-radius: 50%;
  height: 35px;
  width: 35px;
}

.user-bar .user-wrapper .circle-user:hover {
  transition: all 0.3s;
}

.user-bar .info-wrapper {
  display: flex;
  border-radius: 15px;
  padding: 0 0.5rem;
}

.user-bar .user-wrapper .nickname {
  font-weight: 700;
  display: flex;
  align-items: center;
  font-size: 0.8rem;
}

.user-bar .circle-user img {
  cursor: pointer;
  height: 100%;
  width: 100%;
  border: solid 1px var(--tertiary-color);
  margin: 0 auto;
  border-radius: 50%;
}

@media screen and (max-width: 500px) {
  .user-bar {
    width:10%;
    height: 100%;
  margin: 0;
  }

  .user-bar .user-wrapper {
    width: 80px;
    height: 100%;
    align-items: center;
  }
  .user-bar .user-wrapper .nickname {
    display: none;
  }
}
