body,
html {
  width: 100%;
  height: 100%;
}

.body-register {
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;

  background-size: 45rem;

  background-attachment: fixed;
  padding: 0;
  margin: 0;
}

.container {
  margin-top: 2%;
  width: 100%;
  height: 200%;
  display: flex;

  border-radius: 15px;
  -webkit-box-shadow: 3px -10px 56px -6px rgb(255, 216, 109, 0.25);
  -moz-box-shadow: 3px -10px 56px -6px rgb(255, 216, 109, 0.25);
  box-shadow: 3px -10px 56px -6px rgb(255, 216, 109, 0.25);
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
  max-width: 900px;
  padding: auto;
  padding-top: 0;
  margin-bottom: 3%;
  background-color: rgb(36, 38, 41, .8);

}
img {
  width: auto;
  height: auto;
  display: flex;
  background-color: none;
  justify-content: center;
  margin-top: 7px;
  margin-bottom: 20px;
  resize: horizontal;
  max-width: 100%;
  max-height: 100%;
  border-radius: 5%;
}
.form-logo {
  height: 25vh;
  width: 100%;
  display: flex;
  background-color: none;
  justify-content: center;
  margin-top: px;
  margin-bottom: 10px;

  max-height: 30%;
  background-color: #dab95f;
  border-radius: 15px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form {
  width: 80%;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #f1f1f1;
  position: relative;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.form-header {
  margin-bottom: 1.2rem;
  display: flex;

  padding-top: 10px;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.form-header span {
  margin-top: 2%;
  font-size: 50%;
  display: flex;

  display: flex;
  justify-content: center;
  text-decoration: none;
}

.form-header h1 {
  width: 100%;
  font-size: 3vh;
  margin: 0 auto;
}

.input-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.input-box {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: aqua; */
}

.profile-pic {
  margin-bottom: 30px;
}
.profile-input-form {
  display: flex;

  align-items: center;
  background-color: #363636;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  justify-content: center;
  margin: 0 auto;
}
.profile-input-form .wrapper-profile {
  height: 10rem;
  width: 10rem;
  border-radius: 7.5rem;
  text-align: center;
}

#photo {
  background-color: #b5c2d6;
  border-radius: 50%;
  height: 8rem;
  width: 8rem;
  border: solid 2px #ffd86d;
  margin: 0 auto;
  margin-bottom: 2rem;
}

#file {
  display: none;
}

#uploadPicBtn {
  background-color: transparent;
  border: solid 1px #ffd86d;
  padding: 0.4rem;
  width: 50%;
  font-size: 0.8rem;
  border-radius: 1rem;
  color: #ffd86d;
  text-align: center;
  font-weight: 700;
  cursor: pointer;
  position: relative;
  bottom: -15px;
}

#uploadPicBtn:hover {
  transition: all 0.3s;
  border: solid 1px #f1f1f1;
}

.continue-button {
  display: grid;
  align-items: center;
  margin-bottom: 50px;
  margin-top: 2vh;
}
.continue-button button {
  width: 50%;
  height: 2.5rem;
  border: none;
  border-radius: 1.5rem;
  padding: 0.4rem, 1rem;
  cursor: pointer;
  background-color: #ebab29;
  padding: 10px;
  font-weight: 700;
  color: #242629;
  font-size: 1.2rem;
  border: #ffd86d solid 1px;
  margin: 0 auto;
}

.continue-button button:hover {
  transition: all 0.3s;
  border: #ebab29 solid 1px;
  background-color: #242629;
  color: #ffd86d;
}



@media (max-width: 700px) {
  .form {
    width: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
  }
  .form-header {
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2%;
    font-size: 120%;
  }
  .input-group {
    margin-top: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 2px;
    width: 100%;
  }
  .input-box {
    display: grid;
    flex-direction: column;
    width: 120%;
    max-width: 200%;
  }
  .container {
    margin-top: 10%;
    width: 80%;
    height: 200%;
    display: flex;
    padding: 0;
    margin-bottom: 10%;
  }

  .container .form {
    width: 100%;
  }
}
