* {
  margin: 0;
  padding: 0;
  outline: 0;
  font-family: "Josefin Sans", sans-serif;
  box-sizing: border-box;
}
.body-initial {
  width: 100%;
  height: 100vh;
  background-color: antiquewhite;
  image-rendering: "https://img.freepik.com/fotos-premium/gradiente-de-tom-pastel-rosa-azul-roxo-desfocado-foto-abstrata-linhas-suaves-pantone-cor-de-fundo_49683-4059.jpg";

  display: flex;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.ContainerEsquerdo {
  background-color: #242629;
  width: 25%;
  margin-top: none;
  height: 100vh;
  border-right: solid 1px #ffd86d;
}

.logo img {
  align-items: center;
  display: grid;
  width: auto;
  height: 25vh;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0vh;
}
.ilustracao {
  display: flex;
  justify-content: center;
  align-items: center;
}
.ilustracao span {
  margin-top: 15%;

  color: #ffd86d;

  font-size: 10rem;
  font-variation-settings: "FILL" 0, "wght" 600, "GRAD" 200, "opsz" 48;
}
#mensagem {
  margin-top: 25%;
  margin-bottom: 10%;
  display: grid;
  margin-left: auto;
  margin-right: auto;
  color: #ffd86d;
  text-align: center;
  font-size: 1.3rem;
  padding: 0 1rem;
}

#mensagem span {
  font-weight: 700;
  font-size: 1.5rem;
  margin: .5vh 0;
}
.divisao {
  margin-top: 5%;
  width: 85%;
  border: 1px solid #f1f1f1;
  opacity: 0.1;
  margin-left: auto;
  margin-right: auto;
}
.ContainerDireito {
  background-image: linear-gradient(
    rgba(36, 38, 41, 0.96) 85%,
    rgba(36, 38, 41, 0.96) 105%
    ),
    url("../../assets/images/fundoGeral.png");
  background-size: 45rem;

  background-attachment: fixed;

  display: flex;
  width: 75%;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
}

.wrapper-buttons {
  display: flex;
  flex-direction: column;
  height: 80%;
  justify-content: center;
  align-items: center;

  gap: 10vh;
  width: 100%;

  margin: 0 auto;
  margin-top: 15vh;
}
.wrapper-buttons span {
  font-size: 2.5rem;
  color: #ffd86d;
  font-weight: 700;
}

@media (max-width: 950px) {
  * {
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: "Josefin Sans", sans-serif;
    box-sizing: border-box;
  }
  .body-initial {
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    flex-direction: column;
  }
  .ContainerEsquerdo {
    align-items: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50vh;
    justify-content: space-around;

    border: none;
  }
  .logo {
    width: 100%;
  }
  .logo img {
    width: 40vw;

    margin-top: 2%;

    height: auto;
    margin-bottom: 0%;
  }

  #mensagem {
    display: grid;
    margin-top: 0vh;
    font-size: clamp(0.5em, 1.7vw + 1vh, 1.1em);
    margin-bottom: 2vh;
    width: 100%;
    height: auto;
   
  }

  #mensagem span {
    font-size: 1.3rem;
  }
  .ilustracao {
    width: 30%;

    display: grid;
    margin-left: auto;
    margin-right: auto;

    height: auto;
    align-items: center;
  }
  .ilustracao span {
    color: #f1f1f1;
    margin: 5% auto 10% auto;
    font-size: 100px;
    font-variation-settings: "FILL" 0, "wght" 600, "GRAD" 200, "opsz" 48;
  }
  .divisao {
    margin-top: 2%;

    width: 85%;
    border: 1px solid #f1f1f1;
    opacity: 0.1;
  }
  .ContainerDireito {
    align-items: center;

    width: 100%;
    display: grid;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
    height: 50%;
    margin-top: 0;
  }
  .wrapper-buttons {
    background-color: rgb(255, 216, 109, 0.05);
    margin: 0;
    padding: 0;
    width: 90vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 0;
    margin-bottom: 0;
    padding: 1.5vh 0;
    margin-top: 5vh;

    border-top: solid 1px var(--primary-color);
    border-bottom: solid 1px var(--primary-color);
  }

  .ilustracao {
    display: none;
  }
  .wrapper-buttons span {
    font-size: clamp(1em, 5vw + 2vh, 2.5em);

    color: #ffd86d;
    font-weight: 700;
  }
}
