* {
  margin: 0;
  padding: 0;
  outline: 0;
  font-family: "Josefin Sans", sans-serif;
  box-sizing: border-box;
}
.body-initial {
  width: 100%;
  height: 100vh;
  background-color: antiquewhite;
  image-rendering: "https://img.freepik.com/fotos-premium/gradiente-de-tom-pastel-rosa-azul-roxo-desfocado-foto-abstrata-linhas-suaves-pantone-cor-de-fundo_49683-4059.jpg";

  display: flex;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.ContainerEsquerdo {
  background-color: #242629;
  width: 25%;
  margin-top: none;
  height: 100vh;
  border-right: solid 1px #ffd86d;
}

.logo img {
  align-items: center;
  display: grid;
  width: auto;
  height: 25vh;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0vh;
}
.ilustracao {
  display: flex;
  justify-content: center;
  align-items: center;
}
.ilustracao span {
  margin-top: 15%;

  color: #ffd86d;

  font-size: 10rem;
  font-variation-settings: "FILL" 0, "wght" 600, "GRAD" 200, "opsz" 48;
}
.mensagem {
  margin-top: 25%;
  margin-bottom: 10%;
  display: grid;
  margin-left: auto;
  margin-right: auto;
  color: #ffd86d;
  text-align: center;
  font-size: 1.3rem;
  padding: 0 1rem;
}

.mensagem h2 {
  font-weight: 700;
}
.divisao {
  margin-top: 5%;
  width: 85%;
  border: 1px solid #f1f1f1;
  opacity: 0.1;
  margin-left: auto;
  margin-right: auto;
}
.ContainerDireito {
  background-image: linear-gradient(
      rgba(36, 38, 41, 0.95) 99%,
      rgb(36, 38, 41, 0.95) 99%
    ),
    url("../../assets/images/fundoGeral.png");
  background-size: 45rem;

  background-attachment: fixed;

  display: flex;
  width: 75%;
  height: 100vh;
  flex-direction: column;
}

.wrapper-buttons {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;

  gap: 10vh;
  width: 100%;

  margin: 0 auto;
}
.wrapper-buttons span {
  font-size: 2.5rem;
  color: #ffd86d;
  font-weight: 700;
}

button {
  display: flex;
  cursor: pointer;
  align-items: center;
  text-align: center;
  font-size: 2rem;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
  color: #f1f1f1;
  font-weight: 700;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: center;
  background: transparent;
  border-radius: 2rem !important;
  border-color: transparent;
}
button:hover {
  transition: all 0.3s;
}

/* Estilização do Link da paginação React. */
.button-wrapper-entrar {
  width: 30%;
  text-decoration: none;
  height: 3.5rem;
}

.btnEntrar {
  width: 100%;
  height: 100%;

  border: 2px solid #ffd86d;
  color: #ffd86d;
  max-width: 20rem;
}

.button-wrapper-cadastrar {
  width: 45%;
  height: 3.5rem;
  text-decoration: none;
}

.btnCadastrar {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
  background-color: transparent;
  color: #f1f1f1;
  border: 2px solid #f1f1f1;
  max-width: 35rem;
}

.btnCadastrar:hover,
.btnEntrar:hover {
  background-color: #ffd86d;
  color: #242629;
  border: 2px solid #242629;
}

span {
  margin-bottom: 2%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 25px;
  color: #f1f1f1;
}
@media (max-width: 950px) {
  * {
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: "Josefin Sans", sans-serif;
    box-sizing: border-box;
  }
  .body-initial {
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    flex-direction: column;
  }
  .ContainerEsquerdo {
    align-items: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50vh;
    justify-content: space-around;
    border-bottom: solid 1px #ffd86d;
    border-right: none;
  }
  .logo {
    width: 100%;
    
  }
  .logo img {
    width: 40vw;

    margin-top: 2%;
    
    height: auto;
    margin-bottom: 0%;
  }

  .mensagem {
    display: grid;
    margin-top: 0vh;
    font-size: clamp(0.5em, 1.7vw + 1vh, 1.1em);
    margin-bottom: 2vh;
    width: 100%;
    height: auto;
  }
  .ilustracao {
    width: 30%;

    display: grid;
    margin-left: auto;
    margin-right: auto;

    height: auto;
    align-items: center;
  }
  .ilustracao span {
    color: #f1f1f1;
    margin: 5% auto 10% auto;
    font-size: 100px;
    font-variation-settings: "FILL" 0, "wght" 600, "GRAD" 200, "opsz" 48;
  }
  .divisao {
    margin-top: 2%;

    width: 85%;
    border: 1px solid #f1f1f1;
    opacity: 0.1;
  }
  .ContainerDireito {
    padding-top: 5vh;
    align-items: center;
    background-color: #ffd86d;
    width: 100%;
    display: grid;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
    height: 50%;
  }
  .wrapper-buttons {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: center;
    justify-content: space-around;
  }

  .button-wrapper-entrar {
    height: 2.8rem;
  }

  .btnEntrar {
    font-size: 1.5rem;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .btnCadastrar {
    margin-bottom: 7.7vh;
    font-size: 1.5rem;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .ilustracao {
    display: none;
  }
  .wrapper-buttons span {
    margin-top: auto;
    margin-bottom: auto;
    font-size: clamp(1em, 5vw + 2vh, 2.5em);
    width: 100%;
    height: 100%;

    color: #ffd86d;
    font-weight: 700;
  }
}
