* {
  margin: 0;
  padding: 0;
  outline: 0;
  font-family: "Josefin Sans", sans-serif;
  box-sizing: border-box;
}
.body-initial {
  width: 100%;
  height: 100vh;
  background-color: antiquewhite;
  image-rendering: "https://img.freepik.com/fotos-premium/gradiente-de-tom-pastel-rosa-azul-roxo-desfocado-foto-abstrata-linhas-suaves-pantone-cor-de-fundo_49683-4059.jpg";
  display: flex;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;


}

.ContainerEsquerdo {
  background: rgb(36, 38, 41);
  width: 35%;
  margin-top: none;
  height: 100vh;
}


img {
  align-items: center;
  display: grid;
  width: auto;
  height: 30vh;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1%;
}
.ilustracao {
  display: flex;
  justify-content: center;
  align-items: center;
}
.ilustracao span {
  margin-top: 15%;

  color: #f1f1f1;

  font-size: 10rem;
  font-variation-settings: "FILL" 0, "wght" 600, "GRAD" 200, "opsz" 48;
}
.mensagem {
  margin-top: 5%;
  display: grid;
  margin-left: auto;
  margin-right: auto;
  color: #ffd86d;
  text-align: center;
  font-size: 1.3rem;
  padding: 0 1rem;
  
}
.divisao {
  margin-top: 5%;
  width: 85%;
  border: 1px solid #f1f1f1;
  opacity: 0.1;
  margin-left: auto;
  margin-right: auto;
}
.ContainerDireito {
  background-image: linear-gradient(
      to bottom,
      rgba(153, 126, 51, 0.75),
      rgba(36, 38, 41) 90%
    ),
    url("../../assets/images/fundoGeral.jpg");

  display: flex;
  width: 65%;
  height: 100vh;
  flex-direction: column;
}

.wrapper-buttons {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;

  gap: 6vh;
  width: 100%;
}
.wrapper-buttons span {
  font-size: 2.5rem;
  color: #ffd86d;
  font-weight: 700;
}

button {
  display: flex;
  cursor: pointer;
  align-items: center;
  text-align: center;
  font-size: 2.5rem;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
  color: #f1f1f1;
  font-weight: 700;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: center;
  background: transparent;
  border-radius: 1rem !important;
  border-color: transparent;
  
}
button:hover {
  transition: all 0.3s;
}

.border-Radius {
  border-radius: 1rem !important;

}

.button-wrapper {
  width: 100%;
  text-decoration: none;
}

.btnEntrar {
  width:45%;
  height: 3.8rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2%;
  margin-top: 7.5rem;
  border: 4px solid #ffd86d;
  color: #ffd86d;
  max-width: 20rem;
}

.btnEntrar:hover {
  background-color: #242629;
  color: #ffd86d;
  border: 2px solid #ffd86d;
}
.btnCadastrar {
  width: 65%;
  height: 3.8rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
  background-color: transparent;
  color: #f1f1f1;
  border: 4px solid #f1f1f1;
  max-width: 35rem;

}
.btnCadastrar a{
  max-width: 35rem;
  width: 20%;
}

.btnCadastrar:hover {
  background-color: #ffd86d;
  color: #242629;
  border: 4px solid #242629;
}

span {
  margin-bottom: 2%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 25px;
  color: #f1f1f1;
}
@media (max-width:950px){
  * {
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: "Josefin Sans", sans-serif;
    box-sizing: border-box;
  }
  .body-initial{
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    flex-direction: column;
 

  
  }
  .ContainerEsquerdo{
    align-items: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50vh;
    justify-content: space-around;
  }
  .logo{
    
    width: 100%;
    
  }
  img{
   
    width: 142px;
    height: 50%;
    margin-top: 2%;
    margin-bottom: 10%;
    height: auto;
    margin-bottom: 1%;
    
    /* background-color: #701158; */
    
  }
 
  .mensagem{
    display: grid;
    
    font-size: clamp(0.5em,1.7vw + 1vh, 1.1em);
    margin-top: 2%;
    /* background-color: #d300b7; */
    width: 100%;
    height: auto;
  }
  .ilustracao{
   width: 30%;
   
    display:grid;
    margin-left: auto;
    margin-right: auto;
    /* background-color: aqua; */
   
    height: auto;
    align-items: center;
  
  }
  .ilustracao span {

    /* background-color: #07c951; */
    color: #f1f1f1;
    margin: 5% auto 10%  auto;
    font-size: 100px;
    font-variation-settings: "FILL" 0, "wght" 600, "GRAD" 200, "opsz" 48;
  }
  .divisao {
    
    margin-top: 2%;
    
    width: 85%;
    border: 1px solid #f1f1f1;
    opacity: 0.1;
    
    /* background-color: #f700ff; */
  }
  .ContainerDireito{
    align-items: center;
    background-color: #ffd86d;
    width: 100%;
    display: grid;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
    height: 50%;
  }
  .wrapper-buttons{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: center;
    justify-content: space-around;
    
  }

  .btnEntrar{
    margin-top: 5%;
    margin-bottom: 0%;
    height: 3.8rem;
    font-size: clamp(1em,5vw + 2vh, 2.5em);
    padding-top:10px;
    padding-bottom: 10px;
  }
  .btnCadastrar{
    margin-bottom: 7.7vh;
    font-size: clamp(0.5em,4vw + 2vh, 2.5em);
    padding-top:10px;
    padding-bottom: 10px;
    
  }
  .wrapper-buttons span {
    margin-top: auto;
    margin-bottom: auto;
    font-size: clamp(1em,5vw + 2vh, 2.5em);
    width: 100%;
    height: 100%;
   
    color: #ffd86d;
    font-weight: 700;
  }

}