.body-profile {
  background-attachment: fixed;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  gap: 15vh;
}

.header-title img {
  height: 15vh;
}
.profile {
  margin-top: 15vh;
  width: 80%;
  max-width: 75rem;
  background-color: rgb(36, 38, 41, 0.8);
  border-radius: 15px;

  -webkit-box-shadow: 0px -10px 56px -6px #0f1011;
  -moz-box-shadow: 0px -10px 56px -6px #0f1011;
  box-shadow: 0px -10px 56px -6px #0f1011;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-bottom: 5vh;
}

#uploadPicBtn {
  background-color: transparent;
  border: solid 1px #ffd86d;
  padding: 0.4rem;
  width: 6rem;
  font-size: 0.8rem;
  border-radius: 1rem;
  color: #ffd86d;
  text-align: center;
  font-weight: 700;
  cursor: pointer;
  position: relative;
  bottom: 20px;
}

#uploadPicBtn:hover {
  transition: all 0.3s;
  border: solid 1px #f1f1f1;
  color: #f1f1f1;
}

.profile .profile-pic .wrapper-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  position: relative;
  bottom: 50px;
}

.profile .profile-pic .wrapper-profile img {
  background-color: #ffd86d;
  border-radius: 50%;
  margin-top: -6rem;
}

.profile-username {
  display: flex;
  text-align: end;

  color: #f1f1f1;
  margin: 0 auto;
  margin-top: 0rem;
  margin-bottom: 1rem;
}

.profile-username .nickname {
  display: flex;
  align-items: flex-end;
  font-size: 2.8rem;
  border-bottom: 2px solid #ebab29;
}

/* Area de informações do perfil */

.profile-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5rem;
}

/* Caixas de info - Perfil */

.profile-info .info-boxes {
  color: #f1f1f1;
  height: 15rem;
  display: flex;
  flex-direction: column;
  width: 90%;
  justify-content: space-evenly;
}

.profile-info .info-boxes .info-box {
  height: 3rem;
  background-color: rgb(255, 216, 109, 0.1);
  display: flex;
  border-radius: 15px;
  font-size: 0.8rem;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.info-box .text span:first-child {
  color: #ffd86d;
}

.info-box .text span:last-child {
  color: #f1f1f1;
  font-weight: 700;

  padding: 0.3rem 0.1rem;
  border-radius: 2px;
}

.info-box .material-icons,
#settings-nickname {
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #f1f1f1;
  font-size: 1.2rem;
}

.info-box .material-icons:hover,
#settings-nickname:hover {
  transition: all 0.3s;
  background-color: transparent;
  border: solid 1px #ffd86d;

  color: #ffd86d;
}

/* ------ */

/* Lista da séries */

.profile-series {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: space-evenly;
}

.series {
  background-color: rgb(255, 216, 109, 0.1);
  display: flex;
  height: 2rem;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  border-radius: 5px;
  gap: 5px;
  border: solid 1px #ffd86d;
  color: #f1f1f1;
}

#liked {
  color: lightgreen;
}

#watched {
  color: rgb(0, 157, 255);
}

#wish {
  color: yellow;
}

#disliked {
  color: red;
}

#photo {
  background-color: #b5c2d6;
  border-radius: 50%;
  height: 15rem;
  width: 15rem;
}

#file {
  display: none;
}

.header-title {
  display: block;
}

.profile-username .material-symbols-outlined {
  font-size: 2.5rem;
  color: #ebab29;
}
.material-icons {
  margin: 0px;
}

/* Responsividade */

@media (max-width: 980px) {
  /* Grid da lista */

  .profile {
    height: auto;
    display: flex;
    flex-direction: column;
  }

  .profile-username {
    margin: 0 auto;
    background-color: rgb(255, 216, 109, 0.1);
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 3vh;
    color: #f1f1f1;
    padding: 0.5rem;
    width: 40%;
    border-radius: 35px;
    margin-bottom: -4vh;
  }

  .profile-username .nickname {
    border: none;
    margin-bottom: 0;
    font-size: 1.5rem;
  }

  .profile-username .material-symbols-outlined {
    display: none;
  }

  .profile-info {
    padding-top: 0;
  }

  .profile-info .info-boxes {
    /* justify-content: center; */
    align-items: center;
    /* gap: 1vh; */
  }
  .profile-info .info-boxes .info-box {
    font-size: 0.6rem;
    width: 90%;
  }

  .profile-series .series {
    font-size: 0.7rem;
  }

  #logout {
    margin-left: 130px;
    margin-top: -35px;
  }

  #change-password {
    margin-top: 0%;
    margin-right: 130px;
  }

  #change-password .material-icons {
    margin-left: 0.7rem;
  }

  #change-password:hover .material-icons .door-icon {
    background-color: #242629;
  }

  #btn-back .material-icons {
    margin-left: 0rem;
  }

  .profile-series {
    gap: 2.5vh;
    padding-bottom: 1vh;
  }
}
