 div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 15px;
  width: 10rem;
  font-weight: 700;
  font-size: 0.75rem;
  height: 100%;
}

 div .link {
  text-decoration: none !important;
  height: 100%;
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 0.6rem;
  color: var(--tertiary-color);
  border-bottom: solid 3px var(--tertiary-color);
}

 div .link:hover {
  transition: all 0.2s;
  color: var(--secondary-color);
  border-bottom: solid 3px var(--tertiary-color);
  background-color: #ffd86d;
}

 div .link:hover span {
  transition: all 0.2s;
  color: var(--secondary-color);
}