.conexao {
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.conexao span {
  font-size: 1rem;
  color: var(--tertiary-color);
}
.conexao .conexao-link {
  color: #ffd86d;
  text-decoration: none;
  font-style: italic;
  font-weight: 600;
  font-size: 15px;
  height: 2rem;
}

.conexao a:hover {
  transition: all 0.3s;
  font-size: 1rem;
  color: #ebab29;
  text-decoration: underline;
}
