.body-error {
 
  background-size: 45rem;

  background-attachment: fixed;
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error-box {
  padding-bottom: 1rem;
  width: 75vw;
  border: 2px solid var(--primary-color);
  border-radius: 15px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.error-box img {
  width: 80px;
  position: absolute;
  top: 0%;
}

.error-box .warning-msg {
  background-color: var(--secondary-color);
  height: 25vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 15px;
}

.error-box .warning-msg span {
  font-size: 3vh;
  font-weight: 700;
  display: flex;
  color: var(--tertiary-color);
  align-items: center;
  justify-content: space-between;
  
  max-width: 335px;
}
.error-box .warning-msg .icon {
  margin-top: -25px;
  text-align: center;
  color: var(--tertiary-color);
  margin-bottom: -30px;
}

.error-box p {
  line-height: 1.5rem;

  color: var(--secondary-color);
  width: 55%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2vh;
  background-color: var(--primary-color);
  padding: 0.3rem;
  border-radius: 15px;
  margin-top: 4vw;
  margin-bottom: 6vw;
}

.error-box button {
  color: var(--primary-color);
  border: 2px solid var(--tertiary-color);
  background-color: transparent;
  font-size: 1rem;
  padding: 0.3rem;
  display: flex;
  gap: 0.5vw;
  font-weight: 700;
}

.error-box button:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  transition: all 0.3s;
}

@media (max-width: 700px) {
  .error-box .warning-msg span {
    font-size: 1rem;
  }

  .error-box button {
    font-size: 0.8rem;
    border: 1px solid var(--tertiary-color);
  }

  .error-box {
    margin-top: 5vh;
    height: 65vh;
  }

  .error-box p {
    width: 75%;
    line-height: 1.5rem;
    margin-top: 5vh;
   
   
   
  }
}
