.input-form {
  max-width: 250px;
}
.input-form .inputFloat {
  width:48vw;
  height: 3.5rem;
  max-width: 280px;

  border-radius: 25px;

  padding-left: 30px;
  padding-top: 10px;
  background-color: #363636;
  color: #f1f1f1;
  border: 1px solid #ffd86d;
  margin-top: 2rem;
}

/* Animação no input */

.inputBox {
  position: relative;
}
.inputBox:focus-within label {
  color: #ffd86d;
  transform: translateX(5px) translateY(6px) scale(0.75);
  padding: 0 1rem;
}

.inputBox label {
  transition: all 0.3s;
  position: absolute;
  left: 5%;
  top: 40%;
  padding: 1rem 0.625rem 0;
  pointer-events: none;

  color: #ffd86d;
  transform-origin: top left;
}
.inputBox .active {
  color: #ffd86d;
  transform: translateX(-5px) translateY(6px) scale(0.75);
  padding: 0 1rem;
}

.inputBox input:focus {
  transition: all 0.3s;
  background-color: #0a0b0c;
  color: var(--primary-color);
}
.inputBox input:focus ~ label {
  color: var(--tertiary-color);
}
.inputBox input::placeholder {
  color: transparent;
}

.inputBox:focus-within input::placeholder {
  transition: all .3s;
  color: rgb(255, 216, 109, .5);
}