.input-form .inputFloat {
  width: 100%;
  height: 5vh;

  border-radius: 30px;

  padding-left: 20px;
  background-color: #363636;
  color: #f1f1f1;
  border: 1px solid #ffd86d;
}


.input-form {
  margin-bottom: 2.25rem;

  color: #f1f1f1;
}


/* Animação no input */

.inputBox {
  position: relative;
  
}

.inputBox label {
  transition: all .3s;
  position: absolute;
  left: 5%;
  padding: 1rem 0.625rem 0;
  pointer-events: none;
  /* background-color: #645252; */
  color: rgb(255, 216, 109, 0.25);
}




.inputBox .active{
  color: #f1f1f1;
  transform: translateX(-25px) translateY(-20px);
 
  padding: 0 .625rem;
 
}