header {
  background-color: var(--secondary-color);
  position: fixed;
  color: var(--primary-color);
  grid-area: head;
  transition: all ease-in-out 0.3s;

  top: 1%;
width: 70%;
  min-width: 620px;
  height: 6vh;

 
 
  left: 50%;
  transform: translateX(-50%);
  border-radius: 15px;

  
  -webkit-box-shadow: 0px -5px 125px -18px rgba(255,216,109,1);
  -moz-box-shadow: 0px -5px 125px -18px rgba(255,216,109,1);
  box-shadow: 0px -5px 125px -18px rgba(255,216,109,1);


 


}

.navbar {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;

  align-items: end;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.link .header-item {
  font-size: 1rem;
  margin-left: -15px;
}

nav {
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  align-items: end;
  height: 100%;
}

nav div {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 9rem;
  font-weight: 700;
  font-size: 0.75rem;
  height: 100%;
}

nav .logo-wrapper  {
 display: flex;
  justify-content: center;
  align-items: center;
  
  text-align: center;
  height: 100%;

}

nav div .logo {
  margin: 0 auto;
  width: 2rem;
  height: 2rem;
  /* margin-right: -1rem; */
  
}

nav div .link {
  text-decoration: none !important;
  height: 100%;
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 1.5rem;
  color: var(--tertiary-color);
}
nav div .material-icons {
  font-size: 1rem;
}

nav div .link:hover {
  transition: all 0.2s;
  /* color: var(--secondary-color); */

  background-color: rgb(255, 216, 109, 0.2);
}

nav div .link:hover span {
  transition: all 0.2s;
  /* color: var(--secondary-color); */
}
