header {
  background-color: var(--secondary-color);
  position: fixed;
  color: var(--primary-color);
  grid-area: head;

  top: 0%;
  width: 700px;
  height: 5vh;
  
  left: 50%;
  /* margin-top: -2.5vh; Negative half of height. */
margin-left: -350px; /* Negative half of width. */
  /* left: 16.5vw; */
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  /* border: solid 1px yellow; */
border-top: none;
  border-top-left-radius:none ;
  border-top-right-radius:none ;
  -webkit-box-shadow: 1px 12px 61px -10px rgba(0, 0, 0, 1);
  -moz-box-shadow: 1px 12px 61px -10px rgba(0, 0, 0, 1);
  box-shadow: 1px 12px 61px -10px rgba(0, 0, 0, 1);
}

.navbar {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;

  align-items: end;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.link .header-item {
  font-size: 1rem;
  margin-left: -15px;
}

nav {
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  align-items: end;
  height: 100%;
}

nav div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 15px;
  width: 10rem;
  font-weight: 700;
  font-size: 0.75rem;
  height: 100%;
}

nav div .link {
  text-decoration: none !important;
  height: 100%;
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 1.5rem;
  color: var(--tertiary-color);
}
nav div .material-icons {
  font-size: 1rem;
}

nav div .link:hover {
  transition: all 0.2s;
  /* color: var(--secondary-color); */

  background-color: rgb(255, 216, 109, 0.2);
}

nav div .link:hover span {
  transition: all 0.2s;
  /* color: var(--secondary-color); */
}
