header {
  background-color: var(--secondary-color);
  position: absolute;
  color: var(--primary-color);
  grid-area: head;

  top: 0;
  width: 83.5%;
  height: 5vh;
  left: 16.5vw;

  /* position: fixed;

  top: 0;
  width: 83.5%;
  height: 5vh;
  left: 16.5vw; */
}

.navbar {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;

  align-items: end;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.link .header-item {
  font-size: 1rem;
  margin-left: -15px;
}

nav {
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  align-items: end;
  height: 100%;
}


