/* Estilização do side menu */
.side-menu {
  border-right: solid 2px var(--primary-color);
  grid-area: side;
  position: fixed;
  width: 16.66%;
  height: 100%;
  background-color: var(--secondary-color);
}



/* Estilização - MenuLIstas */

.side-bar-items {
  height: 95%;
  display: flex;
  flex-direction: column;

  justify-content: space-evenly;
  align-items: center;
}

.side-bar-items img {
  width: 6vw;
}



.side-bar-items .side-bar-items-title {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 700;
  color: var(--tertiary-color);
}

hr {
  border: 1px solid var(--tertiary-color);
  opacity: 0.2;
  width: 70%;
  margin-top: -4vh;
}

