/* Estilização do side menu */
.side-menu {
     -webkit-box-shadow: 3px -10px 20px -6px  #0f1011;
  -moz-box-shadow: 3px -10px 20px -6px  #0f1011;
  box-shadow: 3px -10px 56px -6px  #0f1011;
  grid-area: side;
  position: fixed;
  width: 4%;
  height: 99%;
  background-color: var(--secondary-color); 
  border-bottom-right-radius: 10px;
}
.side-menu:hover {
  width: 16.66%;
  transition: 0.4s;
}

/* Estilização - MenuLIstas */

.side-bar-items {
  height: 95%;
  display: flex;
  flex-direction: column;

  justify-content: space-evenly;
  align-items: center;
}
.side-menu:hover .side-bar-items .side-bar-items-title,
img {
  visibility: visible;
  opacity: 1;
  transition: all 2s;
}
.side-menu:hover .side-bar-items hr {
  border: 1px solid var(--tertiary-color);
  opacity: 0.2;
  visibility: visible;
  width: 70%;
  margin-top: -4vh;
}
.side-menu:hover .side-bar-items:hover .side-bar-item .item-text {
  visibility: visible;
  opacity: 1;
  transition: all 2s;
}

.side-menu .push {
  color: var(--tertiary-color);
}
.side-menu .side-bar-items .side-bar-items-title,
hr,
img {
  opacity: 0;
  visibility: hidden;
}
.side-menu .side-bar-items .side-bar-item .item-text {
  opacity: 0;
  visibility: hidden;
}

.side-bar-items .side-bar-items-title {
  font-size: 1.25rem;
  text-align: center;
  font-weight: 700;
  color: var(--tertiary-color);
}

hr {
  border: 1px solid var(--tertiary-color);
  opacity: 0.2;
  width: 70%;
  margin-top: -4vh;
}
