.body-screenModel {
  display: grid;
  grid-template-rows: 5vh 95vh;
  grid-template-areas:
    "head"
    "content";
}

.body-screenModel main {
  grid-area: content;
}

.body-screenModel main .visual {
  display: flex;
  justify-content: center;

  margin-top: 5vh;
}

.body-screenModel main .visual img {
  height: 16vh;
}

.body-screenModel main .main-content {
  color: var(--tertiary-color);
}

.body-screenModel main .main-content #title-wrapper {
  color: var(--primary-color);

  display: flex;
  align-items: center;
  align-content: center;

  width: 50%;

  margin-left: 24vw;
  margin-bottom: 8vh;
}

.body-screenModel main .main-content #title-wrapper :first-child {
  font-size: 3rem;
  font-weight: bolder;

  text-decoration: none;
}

.body-screenModel main .main-content #title-wrapper :last-child {
  font-size: 2.5rem;
  font-weight: 700;
  padding-top: 0.5rem;
}

@media (max-width: 650px) {
  .body-screenModel {
    grid-template-columns: none;
    grid-template-rows: 7vh 86vh 7vh;
    grid-template-areas:
      "head"
      "content"
      "navigation";
  }

  /* ----------- */

  /* Estilização da logo */

  .body-screenModel main .visual {
    background-color: rgb(255, 216, 109, 0.2);
    padding: 1rem 0;

    margin-top: 0;
  }
  .body-screenModel main .visual img {
    margin-top: 0;
    height: 15vh;
  }

  /* Estilizaçãp do título */

  main .main-content #title-wrapper {
    height: 0vh;
    width: 75%;
background-color: aqua;
    margin-bottom: 0vh;
    /* margin-top: 2vh; */
    text-align: center;
    display: flex;
    justify-content: center;
padding: 0;
  }
  main .main-content #title-wrapper :first-child {
   display: none;
   
  }

  main .main-content #title-wrapper #main-title-page {
    font-size: 1rem ;
    font-weight: 700;
    background-color: #242629;
    color: var(--primary-color);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    padding: .5rem 2.5rem;
    border-radius: 5px;
  }

  /* ----- */
}
