@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

:root {
  --primary-color: #ffd86d;
  --secondary-color: #242629;
  --tertiary-color: #f1f1f1;
  --shadow: #363636;
}

/* Minimal Reset Css */

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

body {
  font-family: "Josefin Sans", sans-serif;
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  user-select: none;
  /* Standard syntax */
}

/* --------------- */

/* Estilização scroll */

body::-webkit-scrollbar {
  width: 6px;
}

body::-webkit-scrollbar-track {
  background-color: var(--secondary-color);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--secondary-color);
  border: 1px solid var(--primary-color);
  border-radius: 5px;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: var(--primary-color);
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}
